@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&display=swap');

:root {
  --primary-color: #00F0FF;
  --primary-color-light: #5FFFFF;
  --primary-color-dark: #00B8CC;
}

body {
  @apply bg-surface-50 text-surface-900 font-sans antialiased;
}
